.app {
    background: #F3F3F3;
    height: 100%;
    padding: 2rem 2rem 0 2rem;
}
.header {
    text-align: center;
    width: calc(100vw - 4rem);
}
.header img {
    width: 50vw;
}

section {
    padding-top: 1rem;
}

section img {
    width: 100%;
}

section img:hover {
    cursor: pointer;
}

section p:first-of-type {
    height: 3.75rem;
}

section p:last-child {
    margin-bottom: 0.5rem;
}

.loading {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.pagination {
    align-items: center;
    padding: 1rem;
}